::placeholder {
    opacity: 0.7 !important;
}
input:not(:placeholder-shown):not([aria-invalid="true"]) {
    border-color: #2dc8c6 !important;
}

.form-multiple-input:checked + .form-checkbox-label::before {
    background-color: #2dc8c6;
}

.form-label-title {
    font-weight: 700;
    margin-block-start: 0.7rem;
}

.form-label-checkbox {
    flex-basis: 100%;
}

.form-checkable-field {
    display: flex;
    flex-flow: row wrap;
    gap: 0.6rem;
}

[data-sticky="true"] {
    --threshold: 1000;
    --position: clamp( -100%, ( var(--scroll-top, 0) - var(--threshold, 1000) ) * 100%, 0% );
    position: fixed;
    top: 0;
    z-index: 99999;
    left: 0;
    width: 100%;
    transform: translateY(var(--position));
    transition: transform .2s ease;
    @at-root :root:not([style*="--scroll-top"]) & { display: none }
}

/* @see https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed */
.grecaptcha-badge {
    visibility: hidden;
}