---
title: Documentation
header: 
    title: ActiveBatch v12 <br> Documentation
    nav:
        text: <svg viewBox="0 0 512 512"><use xlink:href="#icon-shapes" /></svg> Use Cases 
        href: /
table:
    cols: [ "Title", "Size", "Updated", "" ]
    rows: [
        [
            "Change Management Guide",
            "1.18 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Change Management Guide.pdf"
        ],
        [
            "COM User's Guide (CHM file - Download & Unblock)",	
            "2.73 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatchV12.chm"
        ],
        [
            "Extensions",
            "9.4 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Extensions.pdf"
        ],
        [
            "Features and Capabilities",
            "123.05 KB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/activebatch-v12-features-and-capabilities-overview.pdf"
        ],
        [
            "Installation Guide",
            "8.73 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Installation Guide.pdf"
        ],
        [
            "Jobs Library Reference Manual",
            "5.03 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Jobs Library Reference Manual.pdf"
        ],
        [
            "Reference Manual",
            "17.77 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Reference Manual.pdf"
        ],
        [
            "Release Notes",
            "378.76 KB",
            "June 15, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Release Notes.pdf"
        ],
        [
            "Reporting Services Guide",
            "2.04 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Reporting Services Guide.pdf"
        ],
        [
            "Template Reporting (CHM file - Download & Unblock)",
            "1.52 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Template Reporting.chm"
        ],
        [
            "User's Guide",
            "10.84 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 User's Guide.pdf"
        ],
        [
            "Management Pack for Nagios",
            "271.92 KB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Management Pack for Nagios.pdf"
        ],
        [
            "Management Pack for SCOM",
            "1.3 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Management Pack for SCOM.pdf"
        ],
        [
            "Management Pack for Zenoss",
            "1013.68 KB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Management Pack for Zenoss.pdf"
        ],
        [
            "Self-Service Portal Users Guide",
            "617.5 KB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Self Service Portal Users Guide.pdf"
        ],
        [
            "Web Console Installation Guide",
            "443.79 KB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Web Console Installation Guide.pdf"
        ],
        [
            "Web Console Users Guide",
            "15.33 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 Web Console Users Guide.pdf"
        ],
        [
            "Built-In Web Services Developer's Guide",
            "41.4 MB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch Web Services V12 Developer's Guide.chm"
        ],
        [
            "SCORCH Integration Pack User's Guide",
            "179.13 KB",
            "May 28, 2021",
            "https://advsyscon.com/kits/ActiveBatchV12/SP5/ActiveBatch V12 OrchestratorIP.pdf"
        ]
    ]
---

{% extends "base.html" %}

{% block content %}
<table id="table">
    <thead>
        <tr>
            {% for cell in table.cols %}
                <th>
                    {{ cell }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>
                    {% if row[3] %}
                        <a 
                            href="{{ row[3] | url }}" 
                            target="_blank" 
                            class="btn" 
                            style="--scale: 0.8"
                        >
                            Download
                        </a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}