<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'meta.njk' %}
        {% block external %} {% endblock %}
    </head>
    <body>
        {% import "components.njk" as components %}
        {% include "nav.njk" %}
        {% block content %}
        {% endblock %}
        {% include 'footer.njk' %}
    </body>
</html> 
