<div class="footer" id="reg-footer">
    <div class="max-width">
        <div id="p_lt_ctl02_UserControl1_userControlElem_footerShow">
            
            <div class="top-footer">
                <div class="top-footer-item">
                    <strong>Product</strong>
                    <a href="https://www.advsyscon.com/en-us/demo/quick">Get an ActiveBatch Demo</a>
                    <a href="https://www.advsyscon.com/en-us/activebatch"> ActiveBatch Overview</a>
                    <a href="https://www.advsyscon.com/en-us/activebatch/core-capabilities/workflow-management/integrated-jobs-library">No-Code Job Steps</a>
                    <a href="https://www.advsyscon.com/en-us/activebatch/core-capabilities/workflow-management/service-library">Low-Code API Accessibility</a>
                    <a href="https://www.advsyscon.com/en-us/activebatch/extensions">Integrations</a>
                    <a href="https://www.advsyscon.com/en-us/activebatch/pricing">Pricing</a>
                </div>
                <div class="top-footer-item">
                    <strong>Workload Automation</strong>
                    <a href="https://www.advsyscon.com/en-us/activebatch/business-process-automation">For Business Processes</a>
                    <a href="https://www.advsyscon.com/en-us/activebatch/service-level-management">For Service Level Management</a>
                    <a href="https://www.advsyscon.com/en-us/activebatch/orchestration">For Process Orchestration</a>
                    <a href="https://www.advsyscon.com/en-us/activebatch/job-scheduling/batch-scheduling">For Batch Scheduling</a>
                    <a href="https://www.advsyscon.com/en-us/activebatch/hybrid-cloud-management">For Hybrid or Multi-Cloud IT</a>
                    <a href="https://www.advsyscon.com/en-us/activebatch/data-warehouse-etl-automation">For Data Warehousing</a>
                </div>
                <div class="top-footer-item">
                    <strong>Learn More</strong>
                    <a href="https://www.advsyscon.com/en-us/resource/workload-automation-overview">Workload Automation Overview</a>
                    <a href="https://www.advsyscon.com/en-us/resource/universal-workload-automation-security">Security-Driven Automation</a>
                    <a href="https://www.advsyscon.com/blog/gartner-it-automation">Gartner IT Automation Predictions</a>
                    <a href="https://www.advsyscon.com/blog/workload-automation-robotic-process-automation">Workload Automation vs. RPA</a>
                    <a href="https://www.advsyscon.com/blog/workload-automation-gartner">Gartner Workload Automation Trends</a>
                    <a href="https://www.advsyscon.com/blog/gartner-devops">7 Steps to DevOps</a>
                </div>
            </div>
            <div class="mid-footer">
                <div class="mid-footer-links">
                    <div class="mid-footer-item">
                        <strong>Resources</strong>
                        <a href="https://www.advsyscon.com/en-us/activebatch-resources?type=casestudy">Case Studies</a>
                        <a href="https://www.advsyscon.com/en-us/activebatch-resources?type=whitepaper">White Papers</a>
                        <a href="https://www.advsyscon.com/en-us/activebatch-resources?type=datasheet">Datasheets</a>
                        <a href="https://www.advsyscon.com/en-us/activebatch-resources?type=video">Videos</a>
                        <a href="https://www.advsyscon.com/blog">Blog</a>
                    </div>
                    <div class="mid-footer-item">
                        <strong>Company</strong>
                        <a href="https://www.advsyscon.com/en-us/about-us">About Us</a>
                        <a href="https://www.advsyscon.com/en-us/news">News and Press Releases</a>
                        <!--<a href="https://www.advsyscon.com/en-us/news/events">Events</a>-->
                        <a href="https://www.advsyscon.com/en-us/about-us/partners">Partners</a>
                        <a href="https://www.advsyscon.com/en-us/about-us/careers">Careers</a>
                    </div>
                    <div class="mid-footer-item">
                        <strong>Customer</strong>
                        <a href="https://www.advsyscon.com/en-us/portal/login">My ASCI Login</a>
                        <a href="https://www.redwood.com/redwood-university/">Training</a>
                        <a href="https://support.advsyscon.com/" nofollow>Support</a>
                    </div>
                </div>
                <div>
                    
                </div>
                <div>
                    <strong>Connect with us</strong>
                    <a href="https://www.linkedin.com/company/advanced-systems-concepts-inc-/" title="LinkedIn" target="_blank"><img src="https://www.advsyscon.com/en-us/corporatesite/media/i/linkedin-icon.png" alt="LinkedIn" /></a>
                    <a href="https://twitter.com/activebatch" title="Twitter" target="_blank"><img src="https://www.advsyscon.com/en-us/corporatesite/media/i/twitter-icon.png" alt="Twitter" /></a>
                    <a href="https://www.youtube.com/channel/UC7QZYvPkK93amZEn6VsOXYg" title="Youtube" target="_blank"><img src="https://www.advsyscon.com/en-us/corporatesite/media/i/youtube-icon.png" alt="Youtube" /></a>
                    <a href="https://www.facebook.com/AdvancedSystemsConceptsInc" title="Facebook" target="_blank"><img src="https://www.advsyscon.com/en-us/corporatesite/media/i/facebook-icon.png" alt="Facebook" /></a>
                </div>
            </div>
            
        </div>
        <div class="footer-content">
            <div class="footer-item copyright">
                <a href="https://www.advsyscon.com/en-us/about-us/contact-us">Contact Us</a> | <a href="https://www.advsyscon.com/en-us/about-us/privacy">Privacy Policy</a> | <a href="https://www.advsyscon.com/en-us/site-map">Sitemap</a><br /><br />
                <b>Corporate HQ</b><br />
                Advanced Systems Concepts, Inc.<br />
                3201 Dallas Parkway - Suite 810<br />
                Frisco, TX &nbsp;75034<br /><br />
                © <script>document.write(new Date().getFullYear())</script> - Advanced Systems Concepts, Inc. All Rights Reserved.
            </div>
            <div class="footer-item logo">
                <a id="p_lt_ctl02_UserControl1_userControlElem_logohome" href="https://www.advsyscon.com"><img src="https://www.advsyscon.com/activebatch-logo.svg" alt="ActiveBatch Workload Automation" /></a>
            </div>
        </div>
        
    </div>
</div> 