<ul class="[ list-unstyled ][ d-flex gap-2 gap-xl-4 align-items-center justify-content-center ][ mx-n5 ]">
    {% for item in [
        "../img/badges/DataWarehouseAutomation_HighPerformer_HighPerformer.svg",
        "../img/badges/DataWarehouseAutomation_MomentumLeader_Leader.svg",
        "../img/badges/ManagedFileTransfer(MFT)_Leader_Leader.svg",
        "../img/badges/ManagedFileTransfer(MFT)_MomentumLeader_Leader.svg",
        "../img/badges/WorkloadAutomation_BestMeetsRequirements_Mid-Market_MeetsRequirements.svg",
        "../img/badges/WorkloadAutomation_HighPerformer_Mid-Market_HighPerformer.svg",
        "../img/badges/WorkloadAutomation_Leader_Enterprise_Leader.svg",
        "../img/badges/WorkloadAutomation_Leader_Leader.svg",
        "../img/badges/WorkloadAutomation_MomentumLeader_Leader.svg",
        "../img/badges/WorkloadAutomation_HighPerformer_Asia_HighPerformer.svg",
        "../img/badges/WorkloadAutomation_HighPerformer_AsiaPacific_HighPerformer.svg",
        "../img/badges/WorkloadAutomation_HighPerformer_Enterprise_Asia_HighPerformer.svg",
        "../img/badges/WorkloadAutomation_HighPerformer_Enterprise_AsiaPacific_HighPerformer.svg",
        "../img/badges/WorkloadAutomation_HighPerformer_Enterprise_India_HighPerformer.svg",
        "../img/badges/WorkloadAutomation_HighPerformer_India_HighPerformer.svg"
    ] %}
        <li style="min-width: 5rem">
            <img class="[ w-100 ]" src="{{ item }}" loading="lazy" width="100" height="100" alt="">
        </li>
    {% endfor %}
</ul>