{% for item in [
    {
        "img": "https://static.marketing.redwood.com/activebatch/dist/pages/img/icon-nodes.svg",
        "title": "Consolidate scheduling tools",
        "description": "Stop managing automation across multiple tools and start orchestrating in one platform with prebuilt connectors and infinite extensibility."
    },
    {
        "img": "https://static.marketing.redwood.com/activebatch/dist/pages/img/icon-eye.svg",
        "title": "Gain single-pane visibility",
        "description": "Manage and monitor end-to-end processes in real time with custom notifications and alerts, SLA management capabilities and auto-remediation."
    },
    {
        "img": "https://static.marketing.redwood.com/activebatch/dist/pages/img/icon-hands.svg",
        "title": "Design automation with ease",
        "description": "Visual process editor with drag-and-drop capabilities makes building workflows attainable for team members without development expertise."
    }
] %}
    <div class="[ mt-3 ][ g-col-12 g-col-lg-4 d-flex flex-column align-items-center gap-3 ][ text-center ][ bg-light ][ pb-5 px-4 ][ rounded-4 ]">
        <img 
            class="[ mt-n3 ]"
            src="{{ item.img }}" 
            alt="" 
            width="60" 
            height="60"
        >
        <h3 class="[ h6 fw-medium ]">{{ item.title }}</h3>
        <p>{{ item.description }}</p>
    </div>
{% endfor %}