{% set integrations = [
    {
        "category": "Data Processing",
        "apps": [
            {
                "name": "DataStage",
                "img": "../img/logos/logo-ibm.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/ibm-datastage"
            },
            {
                "name": "Informatica PowerCenter",
                "img": "../img/logos/logo-informatica.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/informatica-powercenter"
            },
            {
                "name": "Informatica Cloud",
                "img": "../img/logos/logo-informatica.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/informatica-cloud"
            },
            {
                "name": "Hadoop",
                "img": "../img/logos/logo-hadoop.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/hadoop-ecosystem"
            },
            {
                "name": "PureData",
                "img": "../img/logos/logo-puredata.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/ibm-puredata"
            },
            {
                "name": "Cognos",
                "img": "../img/logos/logo-cognos.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/ibm-cognos-bi"
            },
            {
                "name": "Crystal Reports",
                "img": "../img/logos/logo-sap.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/crystal-reports"
            },
            {
                "name": "Teradata",
                "img": "../img/logos/logo-teradata.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/teradata"
            }
        ]
    },
    {
        "category": "Automation tools",
        "apps": [
            {
                "name": "Oracle Job Scheduler",
                "img": "../img/logos/logo-oracle.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/oracle-job-scheduler"
            },
            {
                "name": "SQL Server Scheduler",
                "img": "../img/logos/logo-sql.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/sql-server-scheduling"
            },
            {
                "name": "SAP NetWeaver",
                "img": "../img/logos/logo-sap.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/sap-netweaver"
            },
            {
                "name": "Task Scheduler",
                "img": "../img/logos/logo-microsoft.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/task-scheduler-automation"
            }
        ]
    },
    {
        "category": "Identity management",
        "apps": [
            {
                "name": "Active Directory",
                "img": "../img/logos/logo-azure.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/active-directory"
            },
            {
                "name": "Exchange Server",
                "img": "../img/logos/logo-exchange.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/exchange-server"
            },
            {
                "name": "CyberArk Application Access Manager",
                "img": "../img/logos/logo-cyberark.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/cyberark-application-access-manager"
            }
        ]
    },
    {
        "category": "Cloud & virtual",
        "apps": [
            {
                "name": "Amazon EC2",
                "img": "../img/logos/logo-aws.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/amazon-ec2"
            },
            {
                "name": "Microsoft Azure",
                "img": "../img/logos/logo-azure.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/microsoft-azure"
            },
            {
                "name": "VMware",
                "img": "../img/logos/logo-vmware.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/vmware"
            },
            {
                "name": "System Center VMM",
                "img": "../img/logos/logo-microsoft.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/virtual-machine-manager"
            }
        ]
    },
    {
        "category": "Servers",
        "apps": [
            {
                "name": "SharePoint",
                "img": "../img/logos/logo-sharepoint.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/microsoft-sharepoint"
            },
            {
                "name": "Azure DevOps Server",
                "img": "../img/logos/logo-azure.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/microsoft-azure"
            }
        ]
    },
    {
        "category": "ERP",
        "apps": [
            {
                "name": "Dynamics AX",
                "img": "../img/logos/logo-microsoft.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/dynamics-ax"
            },
            {
                "name": "Oracle EBS",
                "img": "../img/logos/logo-oracle.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/oracle-ebs"
            },
            {
                "name": "PeopleSoft",
                "img": "../img/logos/logo-oracle.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/oracle-peoplesoft"
            },
            {
                "name": "SAP BusinessObjects Data Services",
                "img": "../img/logos/logo-sap.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/sap-businessobjects"
            }
        ]
    },
    {
        "category": "ITSM",
        "apps": [
            {
                "name": "ServiceNow",
                "img": "../img/logos/logo-servicenow.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/servicenow"
            },
            {
                "name": "System Center Service Manager",
                "img": "../img/logos/logo-microsoft.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/operations-manager"
            }
        ]
    },
    {
        "category": "Microsoft System Center",
        "apps": [
            {
                "name": "Virtual Machine Manager",
                "img": "../img/logos/logo-microsoft.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/virtual-machine-manager"
            },
            {
                "name": "Service Manager Orchestrator",
                "img": "../img/logos/logo-microsoft.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/orchestrator"
            },
            {
                "name": "Operations Manager",
                "img": "../img/logos/logo-microsoft.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/operations-manager"
            },
            {
                "name": "Configuration Manager",
                "img": "../img/logos/logo-microsoft.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/configuration-manager"
            }
        ]
    },
    {
        "category": "File tansfer automation",
        "apps": [
            {
                "name": "JSCAPE MFT",
                "img": "../img/logos/logo-jscape.svg",
                "link": "https://www.advsyscon.com/en-us/activebatch/extensions/jscape"
            }
        ]
    }
] %}


<div id="integrations" class="[ grid gap-0 ][ bg-white ][ border border-black rounded-4 ][ overflow-hidden ][ w-100 ]" style="--bs-columns: 3">
    <ul class="[ g-col-3 g-col-md-1 order-1 order-md-0 ][ d-grid ][ list-unstyled ][ m-0 ]">
        {% for item in integrations %}
            <li class="[ text-center ][ border-black border-end {{ "border-top" if loop.index != 1 }} ][ d-grid gap-2 ]">
                <button 
                    data-target="#tab-{{loop.index}}" 
                    class="[ btn rounded-0 ][ {{ "bg-white" if loop.index === 1 }} ]" 
                    style="background-color: var(--bs-gray-200)"
                >{{ item.category }}</button>
            </li>
        {% endfor %}
    </ul>
    <ul class="[ g-col-3 g-col-md-2  ][ list-unstyled ][ tab-content ][ m-0 ]">
        {% for item in integrations %}
        <li id="tab-{{loop.index}}" class="[ col ][ p-1 p-xl-2 ][ tab-pane ][ fade {{ "show active" if loop.index === 1 }} ]">
            <ul class="[ list-unstyled ][ grid gap-1 gap-xl-2 ]"  style="grid-template-rows: repeat(2, 1fr); --bs-columns: 4">
                {% for app in item.apps %}
                    <li class="[ g-col-2 g-col-md-2 g-col-xl-1 ][ position-relative ][ text-start ]">
                        <article class="[ d-flex flex-column gap-1 ][ h-100 ][ @hover:bg-quaternary bg-white ][ rounded-3 ][ border border-dark ][ p-2 ]">
                            <img 
                                class=""
                                style="max-width: 50%; max-height: 1.6em; object-position: left"
                                src="{{ app.img }}" 
                                alt="" 
                                width="150" 
                                height="100"
                            >
                            <h3 class="[ h6 fw-medium ]" style="min-height: 5em">
                                {{ app.name }} 
                            </h3>
                            {% if app.link %}
                            <a class="[ small text-decoration-none text-reset stretched-link ][ d-flex align-items-center gap-{3} ]" href="{{ app.link }}">
                                Learn more <span class="[ sr-only ]">about our {{ app.name }} integration</span>
                                <svg width="10" height="8" viewBox="0 0 12 10" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="#082029" d="M0 5c0 .3.1.5.3.7.2.2.4.3.7.3h7.7L6 8.4a1 1 0 0 0 0 1.3 1 1 0 0 0 1.4 0l4.2-4a1 1 0 0 0 0-1.3L7.5.3a1 1 0 0 0-.7-.3 1 1 0 0 0-.7.3 1 1 0 0 0-.3.7 1 1 0 0 0 .3.6l2.6 2.5H1a1 1 0 0 0-1 1Z"/>
                                </svg>
                            </a>
                            {% endif %}
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>

<script async defer>
    document.querySelector("#integrations").addEventListener("click", function(event) {
        if ( typeof event.target.dataset.target !== "undefined" ) {
            this.querySelector(".tab-pane.active.show").classList.remove("active", "show");
            this.querySelector(event.target.dataset.target).classList.add("active", "show");

            this.querySelector("[data-target].bg-white").classList.remove("bg-white", "border-xl-end");
            event.target.classList.add("bg-white");
        }
    })
</script>