<ul class="[ container-fluid container-xl ][ list-unstyled ][ d-flex flex-wrap align-items-center justify-content-center row-gap-4 ]">
    {% for item in [
        "../img/logo-xtra.svg",
        "../img/logo-graymont.svg",
        "../img/logo-firstrate.svg",
        "../img/logo-bluebay.svg",
        "../img/logo-xcel.svg",
        "../img/logo-relayhealth.svg"
    ] %}
    <li class="[ col-6 col-md-4 col-lg ][ text-center ]">
        <img src="{{ item }}" class="bg-sblack" loading="lazy"  alt="" style="max-height: 4rem; max-width: 8rem">
    </li>
    {% endfor %}
</ul>