{%- set defaultArgs = {
    'grid': 'd-flex flex-column',
    'gap': 'gap-{3} gap-lg-1',
    'class': '',
    'listClass': '[ p-{3} ]',
    'chevron': true,
    'desc': false,
    'icon': false,
    'list': []
} -%}

{%- set args = defaultArgs|mergeAttributes( args ) -%}
{%- if args.list.length != 0 -%}
    {%- set iconExists = false -%}
    {%- set descExists = false -%}
    {%- for item in args.list -%}
        {%- if item.icon -%}
            {%- set iconExists = true -%}
        {%- endif -%}
        {%- if item.desc -%}
            {%- set descExists = true -%}
        {%- endif -%}
    {%- endfor -%}
    {%- set args = args|setAttribute('icon', iconExists) -%}
    {%- set args = args|setAttribute('desc', descExists) -%}
{%- endif -%}

<ul class="[ mega_submenu ] [ {{ args.grid }} {{ args.gap }} ] [ hover-chevron ] {{ args.class }}">
  {%- for cta in args.list -%}
    {%- set ctaHtml = '<span>' + cta.text + '</span>' -%}

    {%- if args.chevron -%}
    {%- set ctaHtml = ctaHtml + '<svg width="13" height="13" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>' -%}
    {%- endif -%}

    {%- if args.icon -%}
    {%- set icon = '<figure><img src="' + cta.icon + '" alt="Icon" width="27" height="25" loading="lazy"></figure>' -%}
    {%- endif -%}
    
    {%- if args.desc -%}
    {%- set descClass = '[ has-desc ]' -%}
    {%- else -%}
    {%- set descClass = '[ d-flex w-100 align-items-center gap-3 ]' -%}
    {%- endif -%}
    {%- if cta.desc -%}
    {%- set descTxt = '<p class="[ desc ][ text-gray text-smaller ][ m-0 ]">' + cta.desc + ' </p>' -%}
    {%- endif -%}

    <li class="[ bg-white @hover:bg-light-blue ][ rounded ]">
      <a href="{{ cta.link }}" target="{{ cta.target | default('_self') }}" class="[ text-reset @hover:dark text-decoration-none ] {{ args.listClass }} {{ descClass }}">
        {{ icon | safe }}
        {{ ctaHtml | safe }}
        {{ descTxt | safe }}
      </a>
    </li>
  {%- endfor -%}
</ul>
