<!-- #cta -->
<section id="cta">
    <h2 style="color: rgb( var(--color-secondary) );">We Want To Hear From You</h2>
    <p style="color: rgb( var(--color-neutral-50) ); margin-bottom: 1.5em; font-size: var(--fz-h6)">Please let us know what you think about our Sandbox. Your feedback will help us understand what we need to improve in the future.</p>
    <div style="display: flex; justify-content: center; grid-gap: calc( var(--gap) / 1.3 );">
        <a 
            class="btn"
            href="https://vchmfvp0cvj.typeform.com/to/LUjs4zuX" 
        >
            <svg viewBox="0 0 512 512"><use xlink:href="#icon-comment-dots" /></svg>
            Feedback
        </a> 
        <a 
            class="btn btn--primary btn--outline"
            href="https://vchmfvp0cvj.typeform.com/to/QZSBcnd3" 
            target="_blank"
        >
            <svg viewBox="0 0 512 512"><use xlink:href="#icon-list-alt" /></svg>
            Open A Case
        </a>
    </div>
</section><!--/ #cta -->