---
title: Integrated Jobs Library | Job Steps Library
description: ActiveBatch's Integrated Jobs Library allows users to build and automate reliable end-to-end workflows in half the time.
---
{% extends "base.njk" %}


{% block content %}

{%- set heroArgs = { 
	'heading': '<h1 class="[ display-6 ]">ActiveBatch Job Steps Library</h1>', 
	'content': '<p class="[ lead fw-medium ][ mt-3 mb-4 ]">Easily build and automate drag-and-drop jobs without advanced development skills</p>' 
} -%}
{% include "hero-inner.njk" %}


<section class="[ container-fluid container-xl ][ py-6 ]">

	<div class="[ text-center mx-auto ]" style="max-width:68rem;">
		<h1 class="[ h1 ][ mt-3 mb-2 ]">Largest library of automated job steps</h1>
		<p>ActiveBatch provides your team with hundreds of production-ready job steps to easily assemble into IT and business workflows—no custom scripting or advanced development skills required. Free up IT and development resources to focus on innovation. </p>
	</div>

	<article class="[ grid align-items-center gap-md-5 ][ my-6 ]">
		<figure class="[ g-col-12 g-col-md-6 m-0 ]">
			<img class="[ w-100 ]" src="https://static.marketing.redwood.com/activebatch/dist/pages/img/activebatch-job-steps-library.png" alt="" />
		</figure>
		<div class="[ g-col-12 g-col-md-6 ][ d-flex flex-column align-items-start gap-1 ]">
			<h2 class="[ h4 ]">End-to-end automation</h2>
			<p class="[ m-0 ]">Seamlessly integrate across a wide range of applications, databases, platforms and more to facilitate true end-to-end job automation and data exchange between disparate technologies.</p>

			<h2 class="[ h4 ]">No custom scripting</h2>
			<p class="[ m-0 ]">Eliminate the need for new custom scripts without losing existing scripts. Script vaulting and lifecycle management capabilities, like auditing and versioning, let you combine existing scripts with pre-built integrations.</p>

			<h2 class="[ h4 ]">Proven-effective job steps</h2>
			<p class="[ m-0 ]">Use job steps designed, tested and maintained by a team of automation experts. Leverage proven-effective reusable job steps for common processes to maximize efficiency in your workflows.</p>
		</div>
	</article>
    
    <h2 class="[ text-center ][ my-2 ]">Integrations</h2>
	<div class="[ mb-8 ]" >
		{% include "module-integrations.njk" %}
	</div>

    <h1 class="[ h1 ][ mb-2 ]">ActiveBatch Service Library</h2>
	<p>ActiveBatch Job Steps Library is augmented by the <a href="https://www.advsyscon.com/en-us/activebatch/core-capabilities/workflow-management/service-library">ActiveBatch Service Library</a>, a dynamic framework that extends ActiveBatch&rsquo;s integration capabilities with additional actions from other applications. Load and execute APIs (WSDLs and SOAP Web Services, RESTful services, .Net assemblies, stored procedures and command lines) without custom coding and create reusable job steps for your Job Steps Library. </p>

    <h2 class="[ text-center ][ mt-6 mb-3 ]">What ActiveBatch Users are Saying</h2>

	<div id="activebatch-quotes" class="[ text-center ][ mb-3 ][ carousel slide ][ bg-dark ][ rounded-4 ]">
		<div class="carousel-inner">
			<div class="[ carousel-item active ]">
				<blockquote class="[ m-0 p-3 p-lg-7 ][ d-flex justify-content-between align-items-center ]">
					<img class="[ d-none d-lg-block ]" style="width:77px;height:71px;transform:rotate(180deg);" src="https://static.marketing.redwood.com/activebatch/dist/pages/img/quote-mark.svg" alt="">
					<div style="max-width:840px" class="[ text-white ]">
						<q class="[ d-block ][ h3 ][ mb-3 ]">If it’s digital, ActiveBatch can do it.</q>
						<cite class="[ fst-normal fw-light ]" style="font-size:1.5rem;">System Administrator, First Rate</cite>
					</div>
					<img class="[ d-none d-lg-block ]" style="width:77px;height:71px;" src="https://static.marketing.redwood.com/activebatch/dist/pages/img/quote-mark.svg" alt="">
				</blockquote>
			</div>
			<div class="carousel-item">
				<blockquote class="[ m-0 p-3 p-lg-7 ][ d-flex justify-content-between align-items-center ]">
					<svg class="[ d-none d-lg-block ]" style="width:77px;height:71px;transform:rotate(180deg);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 67"><path fill="#00B16B" d="M.13 66.22V52.57c2.67-.13 5.27-1.16 7.82-3.1a23.92 23.92 0 0 0 6.37-7.46A21.37 21.37 0 0 0 16.7 32H.13V.15h33.85v28.03c0 8-1.58 14.74-4.73 20.2-3.16 5.58-7.28 9.83-12.38 12.74a37.44 37.44 0 0 1-16.74 5.1Zm41.86 0V52.57c2.67-.13 5.27-1.16 7.82-3.1a23.92 23.92 0 0 0 6.37-7.46A21.37 21.37 0 0 0 58.55 32H41.99V.15h33.85v28.03c0 8-1.58 14.74-4.73 20.2-3.16 5.58-7.28 9.83-12.38 12.74A37.44 37.44 0 0 1 42 66.22Z"/></svg>
					<div style="max-width:840px" class="[ text-white ]">
						<q class="[ d-block ][ h3 ][ mb-3 ]">We have been able to accomplish exponentially more with ActiveBatch than what we could have with our previous solution.</q>
						<cite class="[ fst-normal fw-light ]" style="font-size:1.5rem;">Network Services Manager, ACES Energy</cite>
					</div>
					<svg class="[ d-none d-lg-block ]" style="width:77px;height:71px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 67"><path fill="#00B16B" d="M.13 66.22V52.57c2.67-.13 5.27-1.16 7.82-3.1a23.92 23.92 0 0 0 6.37-7.46A21.37 21.37 0 0 0 16.7 32H.13V.15h33.85v28.03c0 8-1.58 14.74-4.73 20.2-3.16 5.58-7.28 9.83-12.38 12.74a37.44 37.44 0 0 1-16.74 5.1Zm41.86 0V52.57c2.67-.13 5.27-1.16 7.82-3.1a23.92 23.92 0 0 0 6.37-7.46A21.37 21.37 0 0 0 58.55 32H41.99V.15h33.85v28.03c0 8-1.58 14.74-4.73 20.2-3.16 5.58-7.28 9.83-12.38 12.74A37.44 37.44 0 0 1 42 66.22Z"/></svg>
				</blockquote>
			</div>
			<div class="carousel-item">
				<blockquote class="[ m-0 p-3 p-lg-7 ][ d-flex justify-content-between align-items-center ]">
					<svg class="[ d-none d-lg-block ]" style="width:77px;height:71px;transform:rotate(180deg);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 67"><path fill="#00B16B" d="M.13 66.22V52.57c2.67-.13 5.27-1.16 7.82-3.1a23.92 23.92 0 0 0 6.37-7.46A21.37 21.37 0 0 0 16.7 32H.13V.15h33.85v28.03c0 8-1.58 14.74-4.73 20.2-3.16 5.58-7.28 9.83-12.38 12.74a37.44 37.44 0 0 1-16.74 5.1Zm41.86 0V52.57c2.67-.13 5.27-1.16 7.82-3.1a23.92 23.92 0 0 0 6.37-7.46A21.37 21.37 0 0 0 58.55 32H41.99V.15h33.85v28.03c0 8-1.58 14.74-4.73 20.2-3.16 5.58-7.28 9.83-12.38 12.74A37.44 37.44 0 0 1 42 66.22Z"/></svg>
					<div style="max-width:840px" class="[ text-white ]">
						<q class="[ d-block ][ h3 ][ mb-3 ]">Implementing ActiveBatch has been extremely positive&hellip; ActiveBatch has set us up for success as we increase the volume and complexity of our automated workflows.</q>
						<cite class="[ fst-normal fw-light ]" style="font-size:1.5rem;">Data and Integration Manager, Finance Industry</cite>
					</div>
					<svg class="[ d-none d-lg-block ]" style="width:77px;height:71px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 67"><path fill="#00B16B" d="M.13 66.22V52.57c2.67-.13 5.27-1.16 7.82-3.1a23.92 23.92 0 0 0 6.37-7.46A21.37 21.37 0 0 0 16.7 32H.13V.15h33.85v28.03c0 8-1.58 14.74-4.73 20.2-3.16 5.58-7.28 9.83-12.38 12.74a37.44 37.44 0 0 1-16.74 5.1Zm41.86 0V52.57c2.67-.13 5.27-1.16 7.82-3.1a23.92 23.92 0 0 0 6.37-7.46A21.37 21.37 0 0 0 58.55 32H41.99V.15h33.85v28.03c0 8-1.58 14.74-4.73 20.2-3.16 5.58-7.28 9.83-12.38 12.74A37.44 37.44 0 0 1 42 66.22Z"/></svg>
				</blockquote>
			</div>
		</div>
		<!-- <button class="carousel-control-prev" type="button" data-bs-target="#activebatch-quotes" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#activebatch-quotes" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>-->
		<div class="carousel-indicators">
			<button class="active rounded rounded-4 rounded-omfg-please " type="button" data-bs-target="#activebatch-quotes" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#activebatch-quotes" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#activebatch-quotes" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<style>
			/* why the fuck bootstrap doing this weird shit */
			.carousel-indicators [data-bs-target] {
				background-color: var(--bs-white);
				opacity: 1;
				background-clip: border-box;
				border-top: 0;
				border-bottom: 5px;
				border-radius: 5rem !important;
			}
			.carousel-indicators [data-bs-target].active {
				background-color: var(--bs-primary);
			}
		</style>
		<script>
			const carousel = new bootstrap.Carousel('#activebatch-quotes')
		</script>
	</div>

</section>

<section class="[ pb-6 pb-xl-9 ]">
    {{ components.customers() }}
</section>


{%- set bannerArgs = {
	'heading': 'Start automating in half the time',
	'content': 'Build and automate workflows without scripting and gain unimaginable operational efficiency. Single pane of glass visibility, real-time insights, customizable alerting and more keep you in control while freeing up your team’s time.',
	'backgroundStrips': ["transparent", "var(--bs-black)"]
} -%}
{% include "cta.njk" %}

{% endblock %}
